#contact
{
	margin-top: 5%;
}

/*
Contact info section
*/
#contact-info
{
	margin-top: 2%;
}
#contact-info iframe
{
	width: 100%;
	height: 10em;
	border: 0;
}

.contact-info-buttons
{
	margin-top: 2%;
}

#contact-info button
{
	width: 100%;
	text-align: justify;
	margin-bottom: 2%;
	pointer-events: none;
	/* border: 0 !important; */
}

#contact-info button span
{
	margin-left: 2%;
}

/*
Contact form section
*/

#contact-form
{
	margin-top: 2%;
}

#contact-form form div
{
	margin-bottom: 2%;
}

#btnSubmitForm
{
	margin-top: 1.5%;
	width: 100%;
}
