/*
	general variables
*/
:root
{
	--font-normal: 'Lato';
	--font-bold: 'LatoBold';
	--font-light: 'LatoLight';
	--headboard-bg-color: #306754; /* 007E33 */
	--headboard-text-color: #FCFFFC;
	--color-title-cards: #8b8a8a;
}

/*
Import fonts
*/
@font-face {
	font-family: 'Lato';
	src: url(https://inazense.github.io/Hubuntu/resources/fonts/Lato-Regular.ttf);
}

@font-face {
	font-family: 'LatoBold';
	src: url(https://inazense.github.io/Hubuntu/resources/fonts/Lato-Bold.ttf);
}

@font-face {
	font-family: 'LatoLight';
	src: url(https://inazense.github.io/Hubuntu/resources/fonts/Lato-Light.ttf);
}

/* hr tag */
hr 
{
	margin: auto;
}

.hr1
{
	width: 25%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 5px solid #000;
}

.hr2
{
	margin-top: -1.5rem;
	width: 7%;
	border-top: 10px solid #306754;
}

.title-hr
{
	font-family: 'LatoBold';
	text-align: center;
}

