/*
	general variables
*/
:root
{
	--font-normal: 'Lato';
	--font-bold: 'LatoBold';
	--font-light: 'LatoLight';
	--headboard-bg-color: #306754;
	--headboard-text-color: #FCFFFC;
	--color-title-cards: #8b8a8a;
}

/*
Import fonts
*/
@font-face {
	font-family: 'Lato';
	src: url(/resources/fonts/Lato-Regular.ttf);
}

@font-face {
	font-family: 'LatoBold';
	src: url(/resources/fonts/Lato-Bold.ttf);
}

@font-face {
	font-family: 'LatoLight';
	src: url(/resources/fonts/Lato-Light.ttf);
}

