/*
Import fonts
*/
@font-face {
	font-family: 'Lato';
	src: url(/resources/fonts/Lato-Regular.ttf);
}

@font-face {
	font-family: 'LatoBold';
	src: url(/resources/fonts/Lato-Bold.ttf);
}

@font-face {
	font-family: 'LatoLight';
	src: url(/resources/fonts/Lato-Light.ttf);
}

/*
	Colour variables
*/
:root
{
	--headboard-bg-color: #69be94;
	--headboard-text-color: #FCFFFC;
}